* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  padding: 15px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#af75af;
  transition: 0.3s ease;
  z-index: 1000;
}

#navbar.scrolled {
  background-color: #9264b8;
}
.logo{
  color: rgb(7, 5, 5);
  font-size: 50px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

/* Menu */
.nav-menu {
  list-style:circle;
  display:contents;
  background-color: #72598b;
  
}

.nav-menu li {
  margin-left: 200px;
}

.nav-menu a {
  text-decoration:overline,underline;
  color: rgb(26, 25, 25);
  font-size: 20px;
  transition: color 0.3s, border-bottom 0.3s;
}

/* Hover effect */
.nav-menu a:hover {
  color: #217788;
  border-bottom: 2px solid #171818;
}

/* Sections */
.hero {
  height: 100vh;
  background: 
    url("523-5235647_responsive-website-design-showing-computer-laptop-beautiful-landing.png") no-repeat right center,
    linear-gradient(135deg, #f7f6f8, #d898e7,#58afc0);
  background-position: 90% center,center;
  background-size: 600px auto,cover;
  background-repeat: no-repeat;
  color: rgb(31, 13, 13);
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 60px;
}
.content {
   padding: 100px 80px;
  background:
      linear-gradient(135deg, #d6cedd, #71adb9, #a97eb9) ;
  background-position: 100% center, center;
  background-size: 10px left,cover;
  background-repeat: no-repeat;
  display:ruby-base-container;
  font-size: 20px;
  
    }

.sample {
  height: 800px;
  display:inline-block;
}
.sample img{
  max-width: 1000px;
  width: 700px;
  height: 400px;
}
  .contact-box {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #333;
  font-size: 30px;
}

.contact-item img {
  width: 100px;
  height: 30px;
  object-fit: contain;
}

.contact-item:hover span {
  text-decoration: underline;
}


.footer {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px 0;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-size: 14px;
}

.footer-item i {
  font-size: 18px;
  color: #000;
}


/* Responsive */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}


