* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  scroll-behavior: smooth;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.4s;
  z-index: 1000;
}

nav.scrolled {
  background: #0a2540;
}

.nav-links li {
  display: inline-block;
  margin-left: 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 50px; /* cylindrical buttons */
  transition: 0.3s;
}

.nav-links a:hover {
  background: white;
  color: #0a2540;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 100px;
  background: url("background.jpg") center/cover no-repeat;
  color: white;
}

.hero-img img{
    width: 600px;
    height: auto;
    max-width: 100%;
}

.hero-text button {
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  background: #ffcc00;
  cursor: pointer;
  margin-top: 20px;
}

/* SECTIONS */
.section {
  padding: 100px 60px;
  text-align: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #f2f2f2;
}

.features {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  padding: 30px;
  border-radius: 20px;
  background: #111111;
  width: 200px;
}

/* FOOTER */
footer {
  background: #0a2540;
  color: white;
  padding: 30px;
  text-align: center;
}

footer a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}
